* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Set background color */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.login-form {
  width: 100%;
  padding: 20px;
  margin-top: 20px; /* Add margin to separate from the image */
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-form-button:hover {
  background-color: #1890ff;
  border-color: #1890ff;
}

.login-form-button:active,
.login-form-button:focus {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.login-form-button a {
  color: #1890ff;
}

.login-form-button a:hover {
  color: #40a9ff;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
}

.form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px; /* Add margin below the title */
}